extends ../layout

block content
    h1.
        Clip: #{clip._id} 
    form(action='/clips/#{clip._id}/edit',method='post',name='updateclip',enctype='application/x-www-form-urlencoded')
        P Identity:
            input#inputName(type='text', value='#{clip.identity}', name='identity' )
        p Duration: 
            input#inputDuration(type='text', value='#{clip.duration}', name='duration')
        p Processed?: 
            input#inputProcessed(type='checkbox', name='processed', checked=('#{clip.processed}'==='true' ? "checked" : undefined))
        p 
            input(type='hidden',value='PUT',name='_method')
        p 
            button#btnSubmit(type='submit').
                Update
